extends layout

block content
    #row
      .container
        #main-content
          #row
            .col-lg-3.hidden-xs
              ul#side-nav
                li
                  a(href='#') 学院简介
                li
                  a(href='#') 系所简介
                li
                  a(href='#') 硕博点简介
                li
                  a(href='#') 学院领导
                li
                  a(href='#') 历任领导
                li
                  a(href='#') 服务指南及联系方式
          .col-lg-9
            #row
              #right-content
                #right-content-header
                  p
                    a(href='./index') 首页
                    span »
                    a(href='') 人才培养
                    span »
                    a(href='') 毕业就业
                #right-content-list
                  ul
                    li
                      a(href='') item 1
                      span.time
                        span.glyphicon.glyphicon-time(style='color: rgb(255, 140, 60);')
                        | 2016-3-5
                    li
                      a(href='') itme 2
                    li
                      a(href='') itme 3
                    li
                      a(href='') itme 4
                    li 5
                    li 6
                    li 7
                    li 8
                    li 9
                    li 10
                    li 11
                    li 12
                    li 13
                    li 14
                    li 15
            #row
              #page-box
                ul.pagination
                  li
                    a(href='#') «
                  li.active
                    a(href='#') 1
                  li.disabled
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#') »
